name: NPM build and push

on:
  release:
    types: [created]

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: 12
            registry-url: https://registry.npmjs.org/
        - run: npm run build
        - run: npm publish
          env:
            NODE_AUTH_TOKEN: ${{secrets.npm_token}}

